@font-face {
    font-family: 'Shan';
    src: url('//shanfont.com/Shan.woff2') format('woff2'),
        url('//shanfont.com/Shan.woff') format('woff'),
        url('//shanfont.com/Shan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

